<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.mastermind.donor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon" 
        android:label="@string/app_name"
        android:theme="@style/RedTheme"
          >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_title"
             android:icon="@drawable/main_icon">
        </activity>
        <activity
            android:name=".RegisterActivity"         
             android:label="@string/register_title"
             android:icon="@drawable/main_icon" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_title"
            android:icon="@drawable/main_icon"  >
        </activity>
        <activity
            android:name=".InstitutionActivity"
            android:label="@string/institution_title"
            android:icon="@drawable/main_icon"  >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title" 
            android:icon="@drawable/main_icon">
            
        </activity>
        <activity
            android:name=".InviteActivity"
            android:label="@string/title_activity_invite" >
        </activity>
        <activity
            android:name=".ResetActivity"
            android:label="@string/title_activity_reset" >
        </activity>
        <activity
            android:name=".DonationsActivity"
            
             android:label="@string/donations_title"
            android:icon="@drawable/main_icon"  >
        </activity>
    </application>

</manifest>
